<% include ../header.ejs %>
<% include ../nav.ejs %>
    <div class="container-fluid">
      <div class="col-xs-12">
        <div class="title">
          <h1>APROBACIÓN DE COTIZACIÓN</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="4" class="center">SOLICITUD REALIZADA A TRAVES DE:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Telefónico: <input type="radio" disabled name="method" id="t" class="method edit" aria-label="..." style="margin-left: 20px;" <% if (quotation.method === "t") { %> checked <% } %> ></td>
                <td>Presencial: <input type="radio" disabled name="method" id="p" class="method edit" aria-label="..." style="margin-left: 20px;" <% if (quotation.method === "p") { %> checked <% } %> ></td>
                <td>Email: <input type="radio" disabled name="method" id="e" class="method edit" aria-label="..." style="margin-left: 20px;" <% if (quotation.method === "e") { %> checked <% } %> ></td>
                <td>Correspondencia: <input type="radio" disabled name="method" id="c" class="method edit" aria-label="..." style="margin-left: 20px;" <% if (quotation.method === "c") { %> checked <% } %> ></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered center">
            <thead>
              <tr>
                <th colspan="3" class="center col-xs-3">Fecha</th>
                <th class="center col-sm-2">Cotización No.</th>
                <th rowspan="2" class="col-xs-5"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="center">Dia</th>
                <th class="center">Mes</th>
                <th class="center">Año</th>
                <td rowspan="2" class="quotation-number"><%= quotation._id %></td>
                <td rowspan="2"></td>
              </tr>
              <tr id="date">
                <td><%= quotation.date.day %></td>
                <td><%= quotation.date.month %></td>
                <td><%= quotation.date.year %></td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2" class="center col-xs-12">DATOS DE LA EMPRESA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Razon Social:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control uppercase edit" name="businessName" id="businessName" value="<%= quotation.businessName %>" placeholder="Razón Social" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-2 fix-padding left">
                    Nit o C.C:
                  </div>
                  <div class="col-xs-12 col-sm-10">
                    <input type="text" class="form-control edit" name="document" id="document" value="<%= quotation.document %>" placeholder="Nit o C.C" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Solicitante:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control capitalize edit" name="applicant" id="applicant" value="<%= quotation.applicant %>" placeholder="Solicitante" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-2 fix-padding left">
                    Cargo:
                  </div>
                  <div class="col-xs-12 col-sm-10">
                    <input type="text" class="form-control capitalize edit" name="position" id="position" value="<%= quotation.position %>" placeholder="Cargo" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Dirección:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <textarea class="form-control edit" name="address" id="address" placeholder="Dirección" aria-describedby="basic-addon1" readonly><%= quotation.address %></textarea>
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-3 fix-padding left">
                    Teléfono/Fax:
                  </div>
                  <div class="col-xs-12 col-sm-9">
                    <input type="text" class="form-control edit" name="phone" id="phone" value="<%= quotation.phone %>" placeholder="Teléfono/Fax" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-5 fix-padding left">
                    Municipio/Departamento:
                  </div>
                  <div class="col-xs-12 col-sm-7">
                    <input type="text" class="form-control capitalize edit" name="city" id="city" value="<%= quotation.city %>"placeholder="Municipio/Departamento" aria-describedby="basic-addon1" readonly>
                  </div>
                </td>
                <td class="center col-xs-6">
                  <div class="col-xs-12 col-sm-4 fix-padding left">
                    Correo electrónico:
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <textarea class="form-control edit" name="email" id="email" placeholder="Correo electrónico" aria-describedby="basic-addon1" readonly><%= quotation.email %></textarea>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered center">
            <thead>
              <tr>
                <th class="col-xs-2 center">TIPO DE MUESTRA</th>
                <th class="col-xs-2 center">PARÁMETRO</th>
                <th class="col-xs-3 center">MÉTODO</th>
                <th class="col-xs-2 center">Precio por Muestra</th>
                <th class="col-xs-1 center">No. de Muestras</th>
                <th class="col-xs-2 center">VALOR TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <% for (let sample of quotation.samples) { %>
                <% for (let i = 0; i < sample.parameters.length; i++) { %>
                  <tr class="samples">
                    <% if (i === 0) { %>
                      <td rowspan="<%= sample.parameters.length %>" class="uppercase">
                        <%= sample.type %>
                      </td>
                    <% } %>
                    <% if (i === sample.parameters.length - 1) { %>
                      <td class="capitalize">
                        <%= sample.parameters[i].parameter %>
                      </td>
                    <% } else { %>
                      <td class="capitalize">
                        <%= sample.parameters[i].parameter %>
                      </td>
                    <% } %>
                    <td class="capitalize"><%= sample.parameters[i].method %></td>
                    <td><%= sample.parameters[i].price %></td>
                    <td><span><%= sample.parameters[i].amount %></span></td>
                    <td><%= sample.parameters[i].total %></td>
                  </tr>
                <% } %>
              <% } %>
              <tr>
                <th colspan="6">
                  <div class="col-sm-12">
                    <div class="col-sm-2">
                      Observaciones:
                    </div>
                    <div class="col-sm-10">
                      <textarea class="form-control edit" rows="2" name="observations" id="observations" placeholder="Observaciones" aria-describedby="basic-addon1" readonly><%= quotation.observations %></textarea>
                    </div>
                  </div>
                </th>
              </tr>
              <tr>
                <th colspan="5" class="center">TOTAL A PAGAR</th>
                <td><strong>$ <strong><span id="totalPrice"><%= quotation.total %></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <form action="/labaguasyalimentos/quotation/approval/<%= quotation._id %>?_method=put" method="post" id="form-<%= quotation._id %>">
          <div class="row space-bottom center">
            <input type="hidden" name="veredict" id="veredict-<%= quotation._id %>">
            <button class="btn btn-success accept btn-lg" id="accept-<%= quotation._id %>">Aprobar</button>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal<%= quotation._id %>">Rechazar</button>
          </div>
          <div class="row">
            <div class="modal fade" id="myModal<%= quotation._id %>" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="center">
                      <h4 class="modal-title">Justificación</h4>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="row" id="modalAlert"></div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <div class="col-sm-12">
                            <textarea name="justification" id="text-<%= quotation._id %>" class="form-control" placeholder="Escribe la justificación del rechazo"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn btn-success reject" id="reject-<%= quotation._id %>">Enviar</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<% include ../footer.ejs %>
    <script src="/labaguasyalimentos/js/quotation.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
      const date = new Date();
      $("#date").html(`
        <td>${date.getDate()}</td>
        <td>${date.getMonth() + 1}</td>
        <td>${date.getFullYear()}</td>`
      );
    </script>
  </body>
</html>
