<% include ../header.ejs %>
<% include ../nav.ejs %>
<div class="container-fluid">
  <div class="col-xs-12">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= message %></p>
      </div>
    <% } %>
    <div class="title">
      <h1>ELIMINACIÓN DE COTIZACIONES</h1>
    </div>
    <% for (let quotation of quotations) { %>
      <div class="row" style="margin: 15px;">
        <form class="form-horizontal panel panel-default" action="/quotation/delete/<%= quotation._id %>?_method=delete" method="post" id="form-<%= quotation._id %>">
          <div class="panel-body">
            <div class="col-sm-8">
              <p>
                Se solicita la eliminación de la cotización <b>N°<%= quotation._id %></b> del cliente <b><%= quotation.applicant %></b> creada el <b><%= quotation.date.day %>/<%= quotation.date.month %>/<%= quotation.date.year %></b>
                de la empresa/organización de razón social <b><%= quotation.businessName %></b> con Nit/C.C <b><%= quotation.document %></b>
              </p>
              <input type="hidden" name="veredict" id="veredict-<%= quotation._id %>">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-success accept" id="accept-<%= quotation._id %>">Aprobar</button>
              <button class="btn btn-danger reject" id="reject-<%= quotation._id %>">Rechazar</button>
            </div>
          </div>
        </form>
      </div>
    <% } %>
  </div>
</div>
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/deactivateQuotation.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
