<% include ../header.ejs %>
<% include ../nav.ejs %>
<div class="container-fluid">
  <div class="col-xs-12">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= message %></p>
      </div>
    <% } %>
    <div class="title">
      <h1>APROBACIÓN DE COTIZACIONES</h1>
    </div>
    <% for (let i = 0, quotation = quotations[i]; i < quotations.length; i++) { %>
      <div class="row">
        <div class="col-sm-6">
        <form class="form-horizontal panel panel-default" action="/quotation/approval/<%= quotation._id %>?_method=put" method="post" id="form-<%= quotation._id %>">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label col-sm-2">N°:</label>
              <div class="col-sm-3">
                <span class="form-control"><%= quotation._id %></span>
              </div>
              <label class="control-label col-sm-2">Fecha:</label>
              <div class="col-sm-5">
                <span class="form-control">05/06/2017</span>
              </div>

            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="document">Nit o C.C.:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="document" id="document" value="<%= quotation.document %>" placeholder="Ingresa Nit o C.C." disabled required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="businessName">Razón Social:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="businessName" id="businessName" value="<%= quotation.businessName %>" placeholder="Ingresa razón social" disabled required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="sample.amount">Número de muestras:</label>
              <div class="col-sm-3">
                <input type="number" min="0" class="form-control" name="sample.amount" id="sample.amount" value="<%= quotation.sample.amount %>" placeholder="Ingresa número de muestras" disabled required>
              </div>
              <label class="control-label col-sm-2" for="total">Valor Total:</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" min="0" name="total" id="total" value="<%= quotation.total %>" placeholder="Ingresa total" disabled required>
                <input type="hidden" name="veredict" id="veredict-<%= quotation._id %>">
              </div>
            </div>

            <div class="form-group">
              <div class="center">
                <button class="btn btn-success accept" id="accept-<%= quotation._id %>">Aprobar</button>
                <button class="btn btn-success btn-color-blue" id="">Ver</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Rechazar</button>
              </div>
            </div>

          <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Justificación</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="col-sm-offset-1 col-sm-10">
                        <textarea name="justification" class="form-control" placeholder="Escribe la justificación del rechazo"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success reject" id="reject-<%= quotation._id %>">Enviar</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    <% } %>
  </div>
</div>
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/quotation.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
