<% include ../header.ejs %>
<% include ../nav.ejs %>
<div class="container-fluid">
  <div class="col-xs-12">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><%= message %></p>
      </div>
    <% } %>
    <div class="title">
      <h1>APROBACIÓN DE COTIZACIONES</h1>
    </div>
    <% for (let i = 0; i < quotations.length; i++) { %>
      <% const quotation = quotations[i]; %>
      <% if (i % 2 === 0) { %>
        <div class="row">
      <% } %>
      <div class="col-sm-6">
        <form class="form-horizontal panel panel-default" action="/labaguasyalimentos/quotation/approval/<%= quotation._id %>?_method=put" method="post" id="form-<%= quotation._id %>">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label col-sm-2">N°:</label>
              <div class="col-sm-3">
                <span class="form-control"><%= quotation._id %></span>
              </div>
              <label class="control-label col-sm-2">Fecha:</label>
              <div class="col-sm-5">
                <span class="form-control"><%= quotation.date.day %>/<%= quotation.date.month %>/<%= quotation.date.year %></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="document">Nit o C.C.:</label>
              <div class="col-sm-9">
                <span class="form-control" name="document" id="document"><%= quotation.document %></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="businessName">Razón Social:</label>
              <div class="col-sm-9">
                <span class="form-control" name="businessName" id="businessName"><%= quotation.businessName %></span>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="samples">Número de Muestras:</label>
              <div class="col-sm-3">
                <span class="form-control" name="samples" id="samples"><%= quotation.samples.length %></span>
              </div>
              <label class="control-label col-sm-2" for="total">Total ($):</label>
              <div class="col-sm-4">
                <span class="form-control" min="0" name="total" id="total"><%= quotation.total %></span>
                <input type="hidden" name="veredict" id="veredict-<%= quotation._id %>">
              </div>
            </div>

            <div class="form-group">
              <div class="center">
                <button class="btn btn-success accept" id="accept-<%= quotation._id %>">Aprobar</button>
                <a href="/labaguasyalimentos/quotation/pending/approval/<%= quotation._id %>" class="btn btn-success btn-color-blue">Ver</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal<%= quotation._id %>">Rechazar</button>
              </div>
            </div>

            <div class="modal fade" id="myModal<%= quotation._id %>" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="center">
                      <h4 class="modal-title">Justificación</h4>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="row" id="modalAlert"></div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <textarea name="justification" id="text-<%= quotation._id %>" class="form-control" placeholder="Escribe la justificación del rechazo" required></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success reject" id="reject-<%= quotation._id %>">Enviar</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <% if ((i + 1) % 2 === 0 || i === quotations.length - 1) { %>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
    <script src="/labaguasyalimentos/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/labaguasyalimentos/bootstrap/js/bootstrap.min.js"></script>
    <script src="/labaguasyalimentos/js/navbar.js"></script>
    <script src="/labaguasyalimentos/js/quotation.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
