<% include ../header.ejs %>
<% include ../nav.ejs %>
  <div class="container-fluid">
    <div class="col-sm-12">
      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p><%= message %></p>
        </div>
      <% } %>
      <div class="col-xs-12 col-sm-12">
        <div class="title">
          <h1>ADMINISTRACIÓN DE CUENTAS</h1>
        </div>
        <% for (let usr of users) { %>
          <% let i = 0; %>
          <% if (i % 2 === 0) { %>
            <div class="row">
          <% } %>
          <div class="col-sm-6">
            <% let rol; %>
            <% if (usr.state !== '3') { %>
              <% rol = "admin-user"; %>
            <% } else { %>
              <% rol = "disabled"; %>
            <% } %>
            <form class="adminForm form-horizontal panel panel-default" action="/labaguasyalimentos/users/<%= usr._id %>/<%= rol %>?_method=put" method="post" id="form-<%= usr._id %>">
              <div class="panel-body">
                <div class="form-group">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                      <input type="text" class="form-control capitalize" name="firstname" id="firstname" value="<%= usr.firstname %>" placeholder="Ingresa nombre(s)" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                      <input type="text" class="form-control capitalize" name="lastname" id="lastname" value="<%= usr.lastname %>" placeholder="Ingresa apellido(s)" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                      <select class="form-control" name="rol" id="rol" required>
                        <option value="responsable técnico" <% if (usr.rol === 'responsable técnico') { %> selected <% } %> >
                          Responsable Técnico
                        </option>
                        <option value="director del laboratorio" <% if (usr.rol === 'director del laboratorio') { %> selected <% } %> >
                          Director del Laboratorio
                        </option>
                        <option value="técnico del laboratorio" <% if (usr.rol === 'técnico del laboratorio') { %> selected <% } %> >
                          Técnico del Laboratorio
                        </option>
                        <option value="auxiliar administrativo" <% if (usr.rol === 'auxiliar administrativo') { %> selected <% } %> >
                          Auxiliar Administrativo
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                      <input type="email" class="form-control" name="email" id="email" value="<%= usr.email %>" placeholder="Ingresa un correo electrónico" required>
                    </div>
                  </div>
                </div>
                <% if (usr.state !== '3') { %>
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                      <label>
                        <input type="checkbox" name="status-<%= usr._id %>" id="status2-<%= usr._id %>" <% if (usr.state === '1') { %> checked="checked" <% } %>  disabled="" >
                        ¿Es Administrador del Sistema?
                      </label>
                    </div>
                  </div>
                <% } %>
                <div class="form-group">
                  <div class="col-xs-offset-1 col-xs-10 col-sm-10 col-lg-10">
                    <button class="btn btn-success save" id="save-<%= usr._id %>">Guardar</button>
                    <button class="btn btn-info edit" id="edit-<%= usr._id %>">Editar</button>
                    <button class="btn btn-warning activate" id="activate-<%= usr._id %>">
                      <% if (usr.state === '3') { %>
                        Activar Cuenta
                      <% } else { %>
                        Desactivar Cuenta
                      <% } %>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <% if ((i + 1) % 2 === 0 || i == users.length - 1) { %>
            </div>
          <% } %>
          <form action="/labaguasyalimentos/users/<%= usr._id %>?_method=delete" method="post" id="deactivateForm-<%= usr._id %>">
            <input type="hidden" name="status" id="status-<%= usr._id %>">
          </form>
        <% } %>
      </div>
    </div>
  </div>
  <% include ../footer.ejs %>
    <script src="/labaguasyalimentos/js/management.js"></script>
    <script type="text/javascript">
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
      });
    </script>
  </body>
</html>
