<div class="">
  <% if (message.length > 0) { %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><%= message %></p>
    </div>
  <% } %>

  <h3>Editar datos del usuario</h3>
  <form class="" action="/users/<%= user._id %>?_method=put" id="profile" method="post">
    <div>
      <p>
        <strong>Rol:</strong>
        <%= user.rol %>
      </p>
    </div>
    <div>
      <label for="firstname">Nombre(s)</label>
      <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>" required>
    </div>
    <div>
      <label for="lastname">Apellido(s)</label>
      <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>" required>
    </div>
    <div>
      <label for="email">Correo Electrónico</label>
      <input type="email" name="email" id="email" value="<%= user.email %>" required>
    </div>
    <button id="save" type="submit" class="btn btn-success">Enviar</button>
    <button id="edit" type="button" class="btn btn-info">Editar</button>
    <% if (user.state === '2') { %>
      <button id="deactivate" type="button" class="btn btn-danger">Desactivar Cuenta</button>
    <% } %>
  </form>
  <% if (user.state === '2') { %>
    <form class="" action="/users/<%= user._id %>/deactiveAccount?_method=put" id="deactivateForm" method="post"
      onsubmit="return confirm('¿Estas seguro que deseas solicitar la desactivación de tú cuenta?')">
    </form>
  <% } %>
  <script src="/js/editProfile.js"></script>
</div>
